In [9]:
# A quick and short script to grab nominations from messy data

# Dependencies
import requests
import pandas as pd
import numpy as np


# read in csv file for title lis
num_csv = "../data_files/last900.csv"

In [10]:
# read in csv file for title list
num_df = pd.read_csv(num_csv)
num_df.head()

,Unnamed: 0,title,ratings,awards,rated,runtime,genere,metascore,imdbRating,imdbVotes,imdbID
0,0,Avatar,"[{'Source': 'Internet Movie Database', 'Value'...",Won 3 Oscars. Another 86 wins & 129 nominations.,PG-13,162 min,"Action, Adventure, Fantasy, Sci-Fi",83.0,7.8,"1,078,016",tt0499549
1,1,Transformers: Revenge of the Fallen,"[{'Source': 'Internet Movie Database', 'Value'...",Nominated for 1 Oscar. Another 15 wins & 27 no...,PG-13,150 min,"Action, Adventure, Sci-Fi",35.0,6.0,"371,781",tt1055369
2,2,Harry Potter and the Half-Blood Prince,"[{'Source': 'Internet Movie Database', 'Value'...",Nominated for 1 Oscar. Another 8 wins & 35 nom...,PG,153 min,"Action, Adventure, Family, Fantasy, Mystery",78.0,7.6,"436,498",tt0417741
3,3,The Twilight Saga: New Moon,"[{'Source': 'Internet Movie Database', 'Value'...",20 wins & 24 nominations.,PG-13,130 min,"Adventure, Drama, Fantasy, Mystery, Romance",44.0,4.7,"254,666",tt1259571
4,4,Up,"[{'Source': 'Internet Movie Database', 'Value'...",Won 2 Oscars. Another 77 wins & 82 nominations.,PG,96 min,"Animation, Adventure, Comedy, Family",88.0,8.2,"878,357",tt1049413

In [11]:
x=num_df['awards'][0]
end=num_df['awards'][0].find('nominations')
start=x[:end-1].rfind(' ')
x[start+1:end-1]
nom_list=[]
num_df['awards'].dtypes

dtype('O')

In [12]:
nom_list=[]
x=0
for index, row in num_df.iterrows():
    mov=row['awards']
    try:
        award=str(mov)
        end=award.find('nominations')
        if end == -1:
            nom_list.append(np.nan)
            x +=1
        else:
            start=award[:end-1].rfind(' ')
            nom_list.append(award[start+1:end-1])
    except:
        print('error')
print(x)
nom_list

129

['129',
 '27',
 '35',
 '24',
 '82',
 '25',
 '93',
 '30',
 nan,
 '29',
 '9',
 '13',
 '18',
 '21',
 '19',
 '22',
 '16',
 '3',
 '2',
 '5',
 '13',
 '13',
 '171',
 nan,
 '111',
 '12',
 '4',
 '22',
 '38',
 '14',
 nan,
 '4',
 '4',
 '5',
 '162',
 '5',
 '10',
 '53',
 '28',
 '43',
 '5',
 '2',
 nan,
 '8',
 '8',
 nan,
 '2',
 '7',
 '5',
 '5',
 '5',
 '5',
 '8',
 '3',
 '5',
 '5',
 '9',
 '4',
 '45',
 nan,
 nan,
 '4',
 '22',
 '7',
 '3',
 nan,
 nan,
 '35',
 '4',
 nan,
 '3',
 nan,
 '18',
 '8',
 nan,
 nan,
 '3',
 '2',
 '9',
 '2',
 '2',
 '4',
 '14',
 nan,
 nan,
 '2',
 '4',
 nan,
 nan,
 '16',
 '61',
 nan,
 nan,
 '56',
 '4',
 nan,
 nan,
 '94',
 '63',
 '43',
 '34',
 '91',
 '210',
 '40',
 '13',
 '60',
 '40',
 '2',
 '49',
 '159',
 '14',
 '4',
 '5',
 '16',
 '204',
 '12',
 '65',
 '15',
 '15',
 '4',
 '12',
 '14',
 '17',
 '5',
 '7',
 '2',
 '8',
 '179',
 '9',
 '16',
 '45',
 '18',
 nan,
 '13',
 '2',
 '8',
 '4',
 '3',
 nan,
 nan,
 '5',
 '9',
 nan,
 '5',
 '10',
 '8',
 '14',
 '8',
 '5',
 '4',
 '6',
 '6',
 '23',
 '2',
 '6',
 '4',
 '5',
 '61',
 '3',
 nan,
 '10',
 nan,
 '3',
 '2',
 '2',
 nan,
 '19',
 '11',
 '16',
 '2',
 '7',
 '4',
 '6',
 '3',
 '14',
 nan,
 '64',
 '4',
 '3',
 nan,
 '6',
 '2',
 '10',
 '4',
 nan,
 nan,
 '12',
 nan,
 '2',
 nan,
 '7',
 '91',
 '39',
 '22',
 '18',
 '31',
 '21',
 '30',
 '18',
 '11',
 '30',
 '42',
 '46',
 '119',
 '70',
 '46',
 '42',
 '39',
 '30',
 '8',
 nan,
 '70',
 '25',
 '11',
 '6',
 '2',
 '11',
 '91',
 '4',
 '7',
 '43',
 '5',
 '22',
 '4',
 '6',
 '146',
 '2',
 '71',
 '8',
 '3',
 '62',
 '14',
 '8',
 '76',
 '5',
 '190',
 '4',
 '6',
 '9',
 '3',
 '9',
 '13',
 nan,
 '101',
 '5',
 nan,
 '8',
 '8',
 nan,
 '5',
 '4',
 nan,
 '22',
 nan,
 '203',
 '12',
 '6',
 '34',
 '26',
 '5',
 '6',
 '4',
 '5',
 '2',
 '9',
 '16',
 '7',
 nan,
 nan,
 '5',
 '11',
 '3',
 nan,
 '177',
 '5',
 '6',
 '5',
 '2',
 '3',
 nan,
 '3',
 nan,
 '25',
 '8',
 '2',
 '96',
 '79',
 '101',
 '47',
 '121',
 '72',
 '14',
 '31',
 '48',
 '27',
 '20',
 '41',
 '248',
 '13',
 '153',
 '11',
 '31',
 '173',
 '14',
 '3',
 '20',
 '154',
 '147',
 '46',
 '7',
 '14',
 '131',
 '11',
 '4',
 '31',
 '173',
 '43',
 '4',
 '5',
 '2',
 '5',
 '13',
 '4',
 '8',
 '11',
 nan,
 '46',
 '16',
 '20',
 '8',
 '4',
 nan,
 '7',
 nan,
 '14',
 '4',
 '45',
 '6',
 '14',
 '8',
 '4',
 '8',
 '9',
 '7',
 '7',
 '118',
 '3',
 '4',
 '4',
 '6',
 '34',
 '12',
 '10',
 '10',
 nan,
 '8',
 nan,
 '10',
 nan,
 '49',
 nan,
 '2',
 '19',
 nan,
 nan,
 '75',
 nan,
 '4',
 '4',
 nan,
 '68',
 '7',
 nan,
 '3',
 nan,
 nan,
 '2',
 '5',
 '180',
 '5',
 '4',
 '8',
 nan,
 '67',
 '62',
 '57',
 '65',
 '46',
 '179',
 '57',
 '87',
 '31',
 '56',
 '21',
 '24',
 '45',
 '16',
 '15',
 '215',
 '84',
 '22',
 '9',
 '15',
 '11',
 '23',
 '14',
 '11',
 '16',
 '3',
 '170',
 '51',
 '21',
 '146',
 '47',
 '20',
 '5',
 '19',
 '10',
 '17',
 '14',
 '72',
 '13',
 nan,
 '9',
 '19',
 '7',
 '8',
 '15',
 '5',
 '8',
 '10',
 '4',
 nan,
 '6',
 '37',
 '8',
 '18',
 nan,
 '333',
 '2',
 '4',
 '18',
 '3',
 '4',
 '5',
 '2',
 nan,
 '2',
 '5',
 '63',
 nan,
 '8',
 '5',
 '7',
 nan,
 '78',
 '5',
 '11',
 nan,
 nan,
 '7',
 '63',
 '2',
 '22',
 '2',
 '4',
 '2',
 '16',
 '21',
 nan,
 nan,
 '9',
 '2',
 nan,
 '3',
 '2',
 '2',
 '43',
 '31',
 '99',
 '50',
 '64',
 '23',
 '42',
 '47',
 '58',
 '47',
 '30',
 '31',
 '24',
 '10',
 '145',
 '60',
 '181',
 '11',
 '11',
 '7',
 '24',
 '71',
 '12',
 '29',
 '4',
 '16',
 '7',
 '11',
 '9',
 '18',
 '37',
 nan,
 '159',
 '7',
 '11',
 '23',
 '7',
 '5',
 '7',
 '2',
 '3',
 '15',
 '8',
 '4',
 '5',
 '5',
 nan,
 '222',
 '10',
 '5',
 '3',
 '3',
 '11',
 '59',
 '3',
 '28',
 nan,
 '8',
 '2',
 '10',
 '6',
 '4',
 '8',
 '6',
 '280',
 '3',
 '5',
 '3',
 '67',
 '2',
 '123',
 nan,
 '3',
 nan,
 '4',
 '18',
 nan,
 nan,
 nan,
 nan,
 '183',
 nan,
 nan,
 '4',
 '5',
 nan,
 nan,
 '7',
 '6',
 nan,
 '5',
 '6',
 '5',
 '2',
 '75',
 '5',
 '5',
 '94',
 '57',
 '47',
 '113',
 '34',
 '25',
 '34',
 '188',
 '36',
 '34',
 '24',
 '16',
 '185',
 '33',
 '9',
 '10',
 '26',
 '9',
 '39',
 '10',
 '220',
 '4',
 '47',
 '27',
 '40',
 nan,
 '25',
 '62',
 '19',
 '2',
 '8',
 '2',
 '4',
 '4',
 '5',
 '4',
 '4',
 '9',
 '6',
 '7',
 '101',
 '9',
 '80',
 '4',
 '24',
 '3',
 '3',
 '22',
 '12',
 '115',
 '3',
 '11',
 '89',
 '16',
 '4',
 '151',
 '5',
 '141',
 '3',
 '8',
 '2',
 '14',
 nan,
 '10',
 '5',
 '8',
 '4',
 '15',
 '105',
 '3',
 '41',
 '2',
 nan,
 '4',
 nan,
 '2',
 '5',
 '2',
 '7',
 '3',
 '2',
 '110',
 nan,
 nan,
 nan,
 nan,
 nan,
 '7',
 nan,
 nan,
 '17',
 '5',
 '43',
 '8',
 '2',
 nan,
 nan,
 '13',
 '80',
 '45',
 '68',
 '15',
 '55',
 '75',
 '70',
 '33',
 '39',
 '23',
 '86',
 '53',
 '65',
 '85',
 '20',
 '27',
 '19',
 '35',
 '276',
 '10',
 '6',
 '8',
 '4',
 '34',
 '5',
 '8',
 '16',
 '258',
 '10',
 '24',
 '12',
 '7',
 '12',
 '5',
 '10',
 '20',
 '7',
 '11',
 '6',
 '4',
 '46',
 '114',
 '4',
 nan,
 '3',
 '2',
 '13',
 nan,
 '3',
 nan,
 '114',
 '6',
 '25',
 '5',
 nan,
 nan,
 '3',
 '62',
 '16',
 '3',
 '3',
 '4',
 '2',
 '3',
 '2',
 '10',
 '5',
 '3',
 '34',
 nan,
 nan,
 '6',
 '3',
 '14',
 '6',
 '43',
 '17',
 nan,
 '41',
 '16',
 '3',
 nan,
 '7',
 nan,
 '4',
 '5',
 nan,
 '8',
 nan,
 nan,
 '4',
 '11',
 '7',
 '3',
 '145',
 '3',
 '6',
 '34',
 '70',
 '14',
 '52',
 '9',
 '45',
 '48',
 '32',
 '13',
 '73',
 '11',
 '35',
 '227',
 '67',
 '21',
 '31',
 '19',
 '23',
 '62',
 '26',
 '19',
 '38',
 '12',
 '59',
 '6',
 '8',
 '23',
 '6',
 '7',
 '156',
 '3',
 '6',
 '19',
 '111',
 '20',
 '8',
 '13',
 '13',
 nan,
 '3',
 '345',
 '7',
 '11',
 '76',
 '17',
 '3',
 '4',
 '2',
 '2',
 '4',
 nan,
 nan,
 '6',
 '5',
 '6',
 '9',
 '2',
 nan,
 nan,
 '2',
 nan,
 '3',
 nan,
 '7',
 '50',
 '3',
 nan,
 '11',
 nan,
 '3',
 nan,
 '15',
 nan,
 nan,
 '116',
 nan,
 nan,
 '15',
 nan,
 '3',
 '40',
 nan,
 '3',
 '2',
 '19',
 '4',
 '19',
 '9',
 nan,
 '3',
 '29',
 '4',
 '4',
 nan]

In [13]:
num_df["nominations"]=nom_list

In [14]:
num_df.drop('Unnamed: 0',axis=1).to_csv('./data_files/last900award.csv')

In [15]:
num_df.columns

Index(['Unnamed: 0', 'title', 'ratings', 'awards', 'rated', 'runtime',
       'genere', 'metascore', 'imdbRating', 'imdbVotes', 'imdbID',
       'nominations'],
      dtype='object')

In [16]:
num_df['nominations'].dropna()

0      129
1       27
2       35
3       24
4       82
      ...
856      9
858      3
859     29
860      4
861      4
Name: nominations, Length: 734, dtype: object

In [16]:
0

0

In [59]:
omdb_df.to_csv('./data_files/first900.csv')