In [37]:
# A script file to merge a few csv files with some data column clean ups
# By Chris Chiang
# Dependencies
import requests
import pandas as pd
import numpy as np


# read in csv file for title lis
f_csv = "../data_files/first900_fix.csv"
l_csv = "../data_files/last900_fix.csv"
num_csv = "../data_files/numberdotcom_fix_names.csv"

In [41]:
# read in csv file for title list
num_df = pd.read_csv(num_csv)
f_df = pd.read_csv(f_csv)
l_df = pd.read_csv(l_csv)
l_df.head()

,Unnamed: 0,Title,Released,ratings,awards,rated,runtime,genere,metascore,imdbRating,imdbVotes,imdbID,nominations
0,0,Avatar,"Dec 18, 2009","[{'Source': 'Internet Movie Database', 'Value'...",Won 3 Oscars. Another 86 wins & 129 nominations.,PG-13,162 min,"Action, Adventure, Fantasy, Sci-Fi",83.0,7.8,"1,078,016",tt0499549,129.0
1,1,Transformers: Revenge of the Fallen,"Jun 24, 2009","[{'Source': 'Internet Movie Database', 'Value'...",Nominated for 1 Oscar. Another 15 wins & 27 no...,PG-13,150 min,"Action, Adventure, Sci-Fi",35.0,6.0,"371,781",tt1055369,27.0
2,2,Harry Potter and the Half-Blood Prince,"Jul 15, 2009","[{'Source': 'Internet Movie Database', 'Value'...",Nominated for 1 Oscar. Another 8 wins & 35 nom...,PG,153 min,"Action, Adventure, Family, Fantasy, Mystery",78.0,7.6,"439,445",tt0417741,35.0
3,3,The Twilight Saga: New Moon,"Nov 20, 2009","[{'Source': 'Internet Movie Database', 'Value'...",20 wins & 24 nominations.,PG-13,130 min,"Adventure, Drama, Fantasy, Mystery, Romance",44.0,4.7,"254,666",tt1259571,24.0
4,4,Up,"May 29, 2009","[{'Source': 'Internet Movie Database', 'Value'...",Won 2 Oscars. Another 78 wins & 82 nominations.,PG,96 min,"Animation, Adventure, Comedy, Family",88.0,8.2,"882,822",tt1049413,82.0

In [42]:
print(len(f_df))
print(len(l_df))

fl_df = f_df.append(l_df)
print(len(fl_df))
fl_df

888
894
1782

,Unnamed: 0,Title,Released,ratings,awards,rated,runtime,genere,metascore,imdbRating,imdbVotes,imdbID,nominations
0,0,How the Grinch Stole Christmas,"Nov 17, 2000","[{'Source': 'Internet Movie Database', 'Value'...",Won 1 Oscar. Another 17 wins & 37 nominations.,PG,104 min,"Comedy, Family, Fantasy",46.0,6.1,"193,860",tt0170016,37.0
1,1,Cast Away,"Dec 22, 2000","[{'Source': 'Internet Movie Database', 'Value'...",Nominated for 2 Oscars. Another 15 wins & 35 n...,PG-13,143 min,"Adventure, Drama, Romance",73.0,7.8,"491,190",tt0162222,35.0
2,2,Mission: Impossible II,"May 24, 2000","[{'Source': 'Internet Movie Database', 'Value'...",12 wins & 20 nominations.,PG-13,123 min,"Action, Adventure, Thriller",59.0,6.1,"299,689",tt0120755,20.0
3,3,Gladiator,"May 5, 2000","[{'Source': 'Internet Movie Database', 'Value'...",Won 5 Oscars. Another 54 wins & 104 nominations.,R,155 min,"Action, Adventure, Drama",67.0,8.5,"1,265,367",tt0172495,104.0
4,4,What Women Want,"Dec 15, 2000","[{'Source': 'Internet Movie Database', 'Value'...",Nominated for 1 Golden Globe. Another 5 wins &...,PG-13,127 min,"Comedy, Fantasy, Romance",47.0,6.4,"184,860",tt0207201,8.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
889,889,Rock Dog,"Feb 24, 2017","[{'Source': 'Internet Movie Database', 'Value'...",3 nominations.,PG,90 min,"Animation, Adventure, Comedy, Family, Music",48.0,5.9,"4,252",tt2822672,3.0
890,890,The Lost City of Z,"Apr 14, 2017","[{'Source': 'Internet Movie Database', 'Value'...",6 wins & 29 nominations.,PG-13,141 min,"Biography, Drama, History",78.0,6.6,"71,426",tt1212428,29.0
891,891,The Promise,"Apr 21, 2017","[{'Source': 'Internet Movie Database', 'Value'...",2 wins & 4 nominations.,PG-13,133 min,"Action, Adventure, Drama, History, War",49.0,5.9,"165,602",tt4776998,4.0
892,892,The Space Between Us,"Feb 3, 2017","[{'Source': 'Internet Movie Database', 'Value'...",4 nominations.,PG-13,120 min,"Drama, Romance, Sci-Fi",33.0,6.4,"44,396",tt3922818,4.0
893,893,Birth of the Dragon,"Aug 25, 2017","[{'Source': 'Internet Movie Database', 'Value'...",1 win.,PG-13,95 min,"Action, Biography, Drama",35.0,5.5,"6,589",tt2720826,NaN

In [44]:
#fl_df.rename(columns={'title':'Title'},inplace=True)
quick_df = pd.merge(num_df,fl_df,on=['Title','Released'],how='left')

In [46]:
quick_df

Index(['Ranking per year', 'Released', 'Title', 'Source', 'Production\nBudget',
       'Opening Weekend\nRevenue', 'Domestic\nBox Office',
       'Infl. Adj. Dom.\nBox Office', 'International\nBox Office',
       'Worldwide\nBox Office', 'Unnamed: 0', 'ratings', 'awards', 'rated',
       'runtime', 'genere', 'metascore', 'imdbRating', 'imdbVotes', 'imdbID',
       'nominations'],
      dtype='object')

In [47]:
quick_df.drop(columns='Unnamed: 0',inplace=True)
print(len(num_df))
print(quick_df.columns)

1800
Index(['Ranking per year', 'Released', 'Title', 'Source', 'Production\nBudget',
       'Opening Weekend\nRevenue', 'Domestic\nBox Office',
       'Infl. Adj. Dom.\nBox Office', 'International\nBox Office',
       'Worldwide\nBox Office', 'ratings', 'awards', 'rated', 'runtime',
       'genere', 'metascore', 'imdbRating', 'imdbVotes', 'imdbID',
       'nominations'],
      dtype='object')

In [49]:
quick_df['Title'].value_counts()

Fantastic Four     2
Draft Day          1
Everest            1
Take the Lead      1
Pitch Perfect 2    1
                  ..
Frozen             1
Into the Wild      1
Daredevil          1
The Conjuring      1
Vanilla Sky        1
Name: Title, Length: 1799, dtype: int64

In [52]:
print(len(quick_df['Title'].unique()))
print(len(num_df['Title'].unique()))
print(len(fl_df['Title'].unique()))
print(len(f_df['Title'].unique()))
print(len(l_df['Title'].unique()))
print(len(f_df['Title']))
print(len(l_df['Title']))

1799
1799
1781
888
894
888
894

In [50]:
quick_df.to_csv('./data_files/quick_merge.csv')

In [36]:
quick_df

'Pirates of the Caribbean: On Stranger…'