In [1]:
# Script file to grab data using OMDB's api
# After grabing relavent data store into dataframe and save as csv file
# Part 1 because of free api call limit, storing as 2 file to save messages
# Dependencies
import requests
import pandas as pd
import numpy as np
from config import api_key
# import api key
# read in csv file for title lis
num_csv = "../data_files/Numberdotcom_fix_names.csv"

In [2]:
# read in csv file for title list
num_df = pd.read_csv(num_csv)
num_df.head()

,Ranking per year,Released,Title,Source,Production\nBudget,Opening Weekend\nRevenue,Domestic\nBox Office,Infl. Adj. Dom.\nBox Office,International\nBox Office,Worldwide\nBox Office
0,1,"Nov 17, 2000",How the Grinch Stole Christmas,Based on Fiction Book/Short Story,"$123,000,000","$55,820,330","$260,044,825","$438,980,791","$85,096,578","$345,141,403"
1,2,"Dec 22, 2000",Cast Away,Original Screenplay,"$85,000,000","$28,883,406","$233,632,142","$384,884,272","$193,598,374","$427,230,516"
2,3,"May 24, 2000",Mission: Impossible II,Based on TV,"$120,000,000","$57,845,297","$215,409,889","$364,078,672","$334,178,627","$549,588,516"
3,4,"May 5, 2000",Gladiator,Original Screenplay,"$103,000,000","$34,819,017","$187,683,805","$317,130,387","$270,000,000","$457,683,805"
4,5,"Dec 15, 2000",What Women Want,Original Screenplay,"$65,000,000","$33,614,543","$182,805,123","$303,565,725","$191,300,000","$374,105,123"

In [10]:
# generate title list for api seach
titles = num_df['Title'].tolist()
print(titles[0])
# Set up release date list incase of duplicate title
release = num_df['Released'].tolist()
release

How the Grinch Stole Christmas

['Nov 17, 2000',
 'Dec 22, 2000',
 'May 24, 2000',
 'May 5, 2000',
 'Dec 15, 2000',
 'Jun 30, 2000',
 'Oct 6, 2000',
 'Jul 14, 2000',
 'Jul 7, 2000',
 'Jul 21, 2000',
 'May 19, 2000',
 'Dec 8, 2000',
 'Mar 17, 2000',
 'Nov 3, 2000',
 'Dec 27, 2000',
 'Jul 28, 2000',
 'Jun 2, 2000',
 'Sep 29, 2000',
 'Jun 28, 2000',
 'Dec 22, 2000',
 'Jun 21, 2000',
 'Jun 9, 2000',
 'Nov 22, 2000',
 'Jun 23, 2000',
 'Aug 4, 2000',
 'Dec 15, 2000',
 'Feb 4, 2000',
 'Apr 21, 2000',
 'Nov 17, 2000',
 'Dec 22, 2000',
 'Aug 4, 2000',
 'Dec 15, 2000',
 'Jun 16, 2000',
 'Jul 7, 2000',
 'May 19, 2000',
 'Dec 8, 2000',
 'Nov 22, 2000',
 'Apr 7, 2000',
 'Aug 18, 2000',
 'Mar 10, 2000',
 'Aug 4, 2000',
 'Feb 18, 2000',
 'May 26, 2000',
 'Mar 22, 2000',
 'Mar 17, 2000',
 'Dec 19, 2000',
 'Mar 31, 2000',
 'Nov 10, 2000',
 'Feb 11, 2000',
 'Dec 22, 2000',
 'Apr 28, 2000',
 'Aug 11, 2000',
 'Jul 21, 2000',
 'Feb 11, 2000',
 'Nov 10, 2000',
 'Feb 18, 2000',
 'Oct 20, 2000',
 'Aug 11, 2000',
 'Apr 14, 2000',
 'Apr 14, 2000',
 'Nov 17, 2000',
 'Feb 18, 2000',
 'Apr 28, 2000',
 'Mar 31, 2000',
 'Dec 22, 2000',
 'Nov 17, 2000',
 'Apr 28, 2000',
 'Oct 20, 2000',
 'Dec 22, 2000',
 'Apr 7, 2000',
 'Dec 8, 2000',
 'Sep 15, 2000',
 'Nov 3, 2000',
 'Aug 25, 2000',
 'Aug 11, 2000',
 'Sep 8, 2000',
 'Apr 21, 2000',
 'Mar 31, 2000',
 'Oct 27, 2000',
 'Jun 30, 2000',
 'Sep 8, 2000',
 'Feb 25, 2000',
 'Jun 16, 2000',
 'Jun 16, 2000',
 'May 12, 2000',
 'Sep 22, 2000',
 'Feb 23, 2000',
 'Mar 10, 2000',
 'Nov 10, 2000',
 'May 19, 2000',
 'May 12, 2000',
 'Oct 13, 2000',
 'Jan 28, 2000',
 'Jul 26, 2000',
 'Dec 22, 2000',
 'Jul 21, 2000',
 'Mar 3, 2000',
 'Sep 15, 2000',
 'Dec 8, 2000',
 'Mar 3, 2000',
 'Nov 16, 2001',
 'Dec 19, 2001',
 'Nov 2, 2001',
 'May 18, 2001',
 'Aug 3, 2001',
 'May 4, 2001',
 'May 25, 2001',
 'Dec 7, 2001',
 'Jul 18, 2001',
 'Jul 27, 2001',
 'Dec 21, 2001',
 'Feb 9, 2001',
 'Aug 10, 2001',
 'Jun 22, 2001',
 'Jun 15, 2001',
 'Jun 22, 2001',
 'Mar 30, 2001',
 'Dec 28, 2001',
 'Aug 3, 2001',
 'Dec 14, 2001',
 'Aug 10, 2001',
 'Jul 13, 2001',
 'Jul 20, 2001',
 'Jul 4, 2001',
 'Jun 8, 2001',
 'Dec 21, 2001',
 'Jun 29, 2001',
 'Oct 5, 2001',
 'Apr 6, 2001',
 'Apr 13, 2001',
 'Jul 4, 2001',
 'Jul 13, 2001',
 'Nov 9, 2001',
 'Jun 8, 2001',
 'Mar 2, 2001',
 'Feb 16, 2001',
 'Nov 21, 2001',
 'Jan 26, 2001',
 'Nov 30, 2001',
 'Dec 25, 2001',
 'May 18, 2001',
 'Aug 17, 2001',
 'May 11, 2001',
 'Jun 1, 2001',
 'Sep 28, 2001',
 'Apr 6, 2001',
 'Dec 14, 2001',
 'Mar 16, 2001',
 'Mar 16, 2001',
 'Aug 13, 2001',
 'Oct 5, 2001',
 'Dec 25, 2001',
 'Nov 2, 2001',
 'Sep 28, 2001',
 'Nov 2, 2001',
 'Oct 26, 2001',
 'Oct 12, 2001',
 'Dec 26, 2001',
 'Mar 23, 2001',
 'Dec 28, 2001',
 'Sep 14, 2001',
 'Jun 8, 2001',
 'Dec 14, 2001',
 'Jul 6, 2001',
 'Nov 21, 2001',
 'Mar 2, 2001',
 'Apr 27, 2001',
 'Jun 1, 2001',
 'Jul 11, 2001',
 'Oct 19, 2001',
 'Aug 24, 2001',
 'Jan 12, 2001',
 'Oct 19, 2001',
 'Jun 27, 2001',
 'Dec 21, 2001',
 'Mar 30, 2001',
 'Apr 11, 2001',
 'Sep 7, 2001',
 'Apr 20, 2001',
 'Aug 17, 2001',
 'Feb 16, 2001',
 'Mar 9, 2001',
 'Sep 28, 2001',
 'May 18, 2001',
 'Nov 9, 2001',
 'Dec 21, 2001',
 'Oct 5, 2001',
 'Jan 19, 2001',
 'Aug 24, 2001',
 'Feb 9, 2001',
 'Oct 19, 2001',
 'Sep 14, 2001',
 'Sep 7, 2001',
 'Aug 3, 2001',
 'Feb 23, 2001',
 'Oct 26, 2001',
 'Apr 11, 2001',
 'Apr 20, 2001',
 'Aug 10, 2001',
 'Mar 30, 2001',
 'May 3, 2002',
 'Dec 18, 2002',
 'May 16, 2002',
 'Nov 15, 2002',
 'Aug 2, 2002',
 'Jul 25, 2002',
 'Jul 3, 2002',
 'Mar 15, 2002',
 'Dec 27, 2002',
 'Dec 25, 2002',
 'Nov 22, 2002',
 'Jun 14, 2002',
 'Jun 21, 2002',
 'Aug 9, 2002',
 'Nov 1, 2002',
 'Jun 21, 2002',
 'Oct 18, 2002',
 'Sep 27, 2002',
 'Jun 28, 2002',
 'Jun 14, 2002',
 'May 31, 2002',
 'Nov 8, 2002',
 'Jul 12, 2002',
 'Mar 29, 2002',
 'Dec 13, 2002',
 'Dec 20, 2002',
 'Oct 4, 2002',
 'Apr 19, 2002',
 'Aug 7, 2002',
 'Mar 22, 2002',
 'Jan 18, 2002',
 'Mar 1, 2002',
 'Dec 20, 2002',
 'Mar 29, 2002',
 'May 24, 2002',
 'Feb 15, 2002',
 'Jun 7, 2002',
 'May 24, 2002',
 'Apr 12, 2002',
 'Dec 13, 2002',
 'Jul 19, 2002',
 'Mar 8, 2002',
 'Dec 13, 2002',
 'Jan 25, 2002',
 'May 8, 2002',
 'Jul 3, 2002',
 'Sep 27, 2002',
 'Feb 15, 2002',
 'Feb 8, 2002',
 'Dec 13, 2002',
 'Feb 19, 2002',
 'Dec 27, 2002',
 'Apr 5, 2002',
 'Jan 11, 2002',
 'Jun 14, 2002',
 'May 17, 2002',
 'Aug 2, 2002',
 'Mar 15, 2002',
 'Aug 16, 2002',
 'Dec 20, 2002',
 'Feb 8, 2002',
 'May 24, 2002',
 'May 31, 2002',
 'Nov 27, 2002',
 'Mar 15, 2002',
 'Mar 1, 2002',
 'Mar 29, 2002',
 'Jan 25, 2002',
 'Jul 19, 2002',
 'Nov 1, 2002',
 'Dec 27, 2002',
 'Dec 6, 2002',
 'Apr 19, 2002',
 'Feb 22, 2002',
 'Jul 12, 2002',
 'Jun 7, 2002',
 'Oct 25, 2002',
 'Feb 22, 2002',
 'Aug 9, 2002',
 'Oct 11, 2002',
 'Apr 12, 2002',
 'Dec 6, 2002',
 'Sep 6, 2002',
 'Oct 11, 2002',
 'Feb 15, 2002',
 'Feb 8, 2002',
 'Sep 20, 2002',
 'Oct 11, 2002',
 'Jul 17, 2002',
 'Jul 26, 2002',
 'Aug 23, 2002',
 'Oct 11, 2002',
 'Dec 31, 2002',
 'Nov 15, 2002',
 'Nov 27, 2002',
 'Apr 26, 2002',
 'Sep 20, 2002',
 'Sep 13, 2002',
 'Jun 21, 2002',
 'Aug 30, 2002',
 'May 30, 2003',
 'Dec 17, 2003',
 'Jul 9, 2003',
 'May 15, 2003',
 'May 23, 2003',
 'May 2, 2003',
 'Nov 7, 2003',
 'Jul 1, 2003',
 'Nov 5, 2003',
 'Dec 25, 2003',
 'Jul 18, 2003',
 'Apr 11, 2003',
 'Mar 7, 2003',
 'Jun 20, 2003',
 'Jun 6, 2003',
 'Dec 12, 2003',
 'Jul 25, 2003',
 'Aug 8, 2003',
 'Jul 25, 2003',
 'Dec 5, 2003',
 'Aug 6, 2003',
 'Oct 24, 2003',
 'May 30, 2003',
 'Feb 7, 2003',
 'Aug 1, 2003',
 'May 9, 2003',
 'Feb 14, 2003',
 'Nov 21, 2003',
 'Jun 27, 2003',
 'Dec 25, 2003',
 'Nov 14, 2003',
 'Jul 2, 2003',
 'Oct 8, 2003',
 'Aug 15, 2003',
 'Oct 3, 2003',
 'Nov 26, 2003',
 'Feb 21, 2003',
 'Oct 10, 2003',
 'Apr 18, 2003',
 'Jan 17, 2003',
 'Jul 11, 2003',
 'Dec 10, 2003',
 'Jul 25, 2003',
 'Dec 19, 2003',
 'Feb 7, 2003',
 'Nov 26, 2003',
 'Nov 21, 2003',
 'Nov 7, 2003',
 'Aug 15, 2003',
 'Sep 12, 2003',
 'Jan 10, 2003',
 'Dec 25, 2003',
 'Oct 24, 2003',
 'Apr 25, 2003',
 'Sep 19, 2003',
 'Dec 25, 2003',
 'Feb 14, 2003',
 'Sep 26, 2003',
 'Mar 14, 2003',
 'Jan 31, 2003',
 'Mar 7, 2003',
 'Sep 26, 2003',
 'May 2, 2003',
 'Sep 19, 2003',
 'Oct 3, 2003',
 'Jun 13, 2003',
 'Mar 28, 2003',
 'Oct 10, 2003',
 'Apr 4, 2003',
 'Aug 29, 2003',
 'Oct 10, 2003',
 'Feb 28, 2003',
 'Apr 18, 2003',
 'Mar 14, 2003',
 'Dec 12, 2003',
 'Mar 21, 2003',
 'Mar 28, 2003',
 'Dec 5, 2003',
 'Jun 13, 2003',
 'Jul 18, 2003',
 'Nov 26, 2003',
 'Mar 28, 2003',
 'Apr 4, 2003',
 'Jul 2, 2003',
 'Jun 13, 2003',
 'Apr 16, 2003',
 'Sep 5, 2003',
 'Aug 22, 2003',
 'Nov 14, 2003',
 'Feb 21, 2003',
 'Nov 26, 2003',
 'Nov 21, 2003',
 'Jan 17, 2003',
 'Jun 20, 2003',
 'Jul 18, 2003',
 'Dec 19, 2003',
 'Feb 21, 2003',
 'Apr 25, 2003',
 'Apr 18, 2003',
 'Sep 26, 2003',
 'May 19, 2004',
 'Jun 30, 2004',
 'Feb 25, 2004',
 'Dec 22, 2004',
 'Nov 5, 2004',
 'Jun 4, 2004',
 'Nov 10, 2004',
 'May 28, 2004',
 'Jul 23, 2004',
 'Nov 19, 2004',
 'Oct 1, 2004',
 'Jul 16, 2004',
 'May 14, 2004',
 'Dec 10, 2004',
 'Feb 13, 2004',
 'May 7, 2004',
 'Dec 17, 2004',
 'Jun 18, 2004',
 'Jul 30, 2004',
 'Dec 17, 2004',
 'Dec 15, 2004',
 'Aug 6, 2004',
 'Aug 11, 2004',
 'Mar 5, 2004',
 'Jan 16, 2004',
 'Apr 30, 2004',
 'Nov 19, 2004',
 'Mar 26, 2004',
 'Jul 9, 2004',
 'Jun 25, 2004',
 'Aug 13, 2004',
 'Apr 23, 2004',
 'Jun 18, 2004',
 'Jun 11, 2004',
 'Oct 29, 2004',
 'Oct 1, 2004',
 'Nov 24, 2004',
 'Oct 22, 2004',
 'Jun 23, 2004',
 'Mar 5, 2004',
 'Sep 24, 2004',
 'Apr 16, 2004',
 'Jul 30, 2004',
 'Feb 6, 2004',
 'Feb 6, 2004',
 'Oct 8, 2004',
 'Apr 2, 2004',
 'Jun 11, 2004',
 'Mar 19, 2004',
 'Aug 20, 2004',
 'Oct 15, 2004',
 'Jun 11, 2004',
 'Apr 23, 2004',
 'Aug 27, 2004',
 'Dec 8, 2004',
 'Jul 7, 2004',
 'Nov 12, 2004',
 'Jul 16, 2004',
 'Dec 22, 2004',
 'Sep 10, 2004',
 'Apr 2, 2004',
 'Dec 25, 2004',
 'Mar 12, 2004',
 'Apr 2, 2004',
 'Dec 29, 2004',
 'Dec 17, 2004',
 'Aug 20, 2004',
 'Nov 12, 2004',
 'Jul 23, 2004',
 'Mar 26, 2004',
 'Sep 17, 2004',
 'May 28, 2004',
 'Mar 19, 2004',
 'Nov 24, 2004',
 'Dec 3, 2004',
 'Apr 16, 2004',
 'Oct 15, 2004',
 'Sep 10, 2004',
 'Aug 27, 2004',
 'Feb 20, 2004',
 'Nov 12, 2004',
 'Apr 2, 2004',
 'Mar 26, 2004',
 'Feb 27, 2004',
 'Dec 10, 2004',
 'Jun 16, 2004',
 'Dec 22, 2004',
 'Mar 12, 2004',
 'Apr 9, 2004',
 'Apr 9, 2004',
 'Sep 17, 2004',
 'Jan 16, 2004',
 'Dec 17, 2004',
 'Aug 6, 2004',
 'Aug 13, 2004',
 'Jun 25, 2004',
 'Apr 30, 2004',
 'Feb 20, 2004',
 'Nov 12, 2004',
 'Jan 23, 2004',
 'May 19, 2005',
 'Dec 9, 2005',
 'Nov 18, 2005',
 'Jun 29, 2005',
 'Dec 14, 2005',
 'Jul 15, 2005',
 'Jun 15, 2005',
 'Jul 15, 2005',
 'May 27, 2005',
 'Jun 10, 2005',
 'Feb 11, 2005',
 'May 27, 2005',
 'Jul 8, 2005',
 'Nov 4, 2005',
 'Mar 11, 2005',
 'Nov 18, 2005',
 'Mar 4, 2005',
 'Dec 21, 2005',
 'Aug 19, 2005',
 'Sep 23, 2005',
 'May 13, 2005',
 'Jan 21, 2005',
 'Dec 21, 2005',
 'Aug 5, 2005',
 'Feb 18, 2005',
 'Mar 18, 2005',
 'Sep 9, 2005',
 'Aug 12, 2005',
 'Apr 1, 2005',
 'Apr 22, 2005',
 'Mar 25, 2005',
 'Apr 8, 2005',
 'Jan 14, 2005',
 'Jun 22, 2005',
 'Apr 15, 2005',
 'Jul 29, 2005',
 'Jun 24, 2005',
 'Nov 4, 2005',
 'Jun 3, 2005',
 'Dec 16, 2005',
 'Aug 19, 2005',
 'Dec 9, 2005',
 'Oct 5, 2005',
 'Mar 4, 2005',
 'Nov 23, 2005',
 'Sep 23, 2005',
 'May 13, 2005',
 'Jan 28, 2005',
 'Apr 29, 2005',
 'Nov 23, 2005',
 'Jan 14, 2005',
 'Mar 24, 2005',
 'Sep 16, 2005',
 'Aug 12, 2005',
 'May 6, 2005',
 'Dec 23, 2005',
 'Feb 4, 2005',
 'Oct 28, 2005',
 'Jul 29, 2005',
 'Sep 2, 2005',
 'Dec 25, 2005',
 'Apr 8, 2005',
 'Jun 10, 2005',
 'Jun 1, 2005',
 'Nov 11, 2005',
 'Aug 26, 2005',
 'Mar 30, 2005',
 'Nov 11, 2005',
 'Jul 22, 2005',
 'Mar 11, 2005',
 'Aug 31, 2005',
 'Oct 21, 2005',
 'Jul 22, 2005',
 'Feb 18, 2005',
 'Jul 29, 2005',
 'May 6, 2005',
 'Feb 4, 2005',
 'Sep 23, 2005',
 'Nov 9, 2005',
 'Oct 14, 2005',
 'Nov 23, 2005',
 'Oct 21, 2005',
 'Nov 11, 2005',
 'Apr 29, 2005',
 'Oct 14, 2005',
 'Dec 2, 2005',
 'Sep 30, 2005',
 'Jul 8, 2005',
 'May 13, 2005',
 'Jan 14, 2005',
 'Mar 18, 2005',
 'Sep 16, 2005',
 'Dec 28, 2005',
 'Oct 7, 2005',
 'Aug 12, 2005',
 'Apr 22, 2005',
 'Jun 24, 2005',
 'Jan 19, 2005',
 'Feb 25, 2005',
 'Aug 19, 2005',
 'Jul 7, 2006',
 'Dec 22, 2006',
 'Jun 9, 2006',
 'May 26, 2006',
 'May 19, 2006',
 'Jun 28, 2006',
 'Nov 17, 2006',
 'Mar 31, 2006',
 'Nov 17, 2006',
 'Dec 15, 2006',
 'May 19, 2006',
 'Aug 4, 2006',
 'Jun 23, 2006',
 'May 5, 2006',
 'Oct 6, 2006',
 'Nov 3, 2006',
 'Jun 30, 2006',
 'Jun 2, 2006',
 'Dec 15, 2006',
 'Apr 14, 2006',
 'Mar 10, 2006',
 'Mar 24, 2006',
 'Sep 29, 2006',
 'Dec 15, 2006',
 'Feb 10, 2006',
 'Feb 17, 2006',
 'Jun 16, 2006',
 'Jul 14, 2006',
 'Dec 15, 2006',
 'Jul 21, 2006',
 'Aug 4, 2006',
 'Apr 28, 2006',
 'Mar 17, 2006',
 'Aug 9, 2006',
 'Dec 20, 2006',
 'Jan 27, 2006',
 'Nov 3, 2006',
 'Nov 22, 2006',
 'Jul 28, 2006',
 'Dec 8, 2006',
 'Jun 16, 2006',
 'Jan 20, 2006',
 'Mar 10, 2006',
 'May 12, 2006',
 'Apr 7, 2006',
 'Feb 10, 2006',
 'Jul 14, 2006',
 'Aug 25, 2006',
 'Dec 8, 2006',
 'Sep 30, 2006',
 'Sep 29, 2006',
 'Jun 6, 2006',
 'Feb 10, 2006',
 'Oct 20, 2006',
 'Jun 16, 2006',
 'Jan 13, 2006',
 'Dec 8, 2006',
 'Feb 10, 2006',
 'Feb 17, 2006',
 'Feb 3, 2006',
 'Jan 27, 2006',
 'Apr 21, 2006',
 'Dec 22, 2006',
 'Jan 13, 2006',
 'Jul 21, 2006',
 'Mar 10, 2006',
 'Nov 10, 2006',
 'Aug 18, 2006',
 'Oct 6, 2006',
 'Oct 13, 2006',
 'Sep 15, 2006',
 'Jan 13, 2006',
 'Dec 29, 2006',
 'Dec 1, 2006',
 'Oct 13, 2006',
 'Apr 14, 2006',
 'Mar 3, 2006',
 'Apr 21, 2006',
 'Dec 25, 2006',
 'Nov 22, 2006',
 'Apr 7, 2006',
 'Oct 27, 2006',
 'Aug 18, 2006',
 'Mar 17, 2006',
 'Oct 20, 2006',
 'Apr 28, 2006',
 'Jun 16, 2006',
 'Jul 28, 2006',
 'Apr 28, 2006',
 'Sep 8, 2006',
 'Mar 24, 2006',
 'Sep 15, 2006',
 'Jul 21, 2006',
 'Apr 7, 2006',
 'Mar 31, 2006',
 'Oct 20, 2006',
 'Aug 11, 2006',
 'Aug 25, 2006',
 'Oct 13, 2006',
 'Mar 3, 2006',
 'May 4, 2007',
 'May 17, 2007',
 'Jul 2, 2007',
 'May 24, 2007',
 'Jul 11, 2007',
 'Dec 14, 2007',
 'Aug 3, 2007',
 'Dec 14, 2007',
 'Mar 9, 2007',
 'Jun 29, 2007',
 'Jul 27, 2007',
 'Mar 2, 2007',
 'Jun 1, 2007',
 'Aug 10, 2007',
 'Jun 27, 2007',
 'Jun 15, 2007',
 'Nov 2, 2007',
 'Nov 21, 2007',
 'Nov 2, 2007',
 'Aug 17, 2007',
 'Jul 20, 2007',
 'Jul 20, 2007',
 'Mar 30, 2007',
 'Jun 8, 2007',
 'Feb 16, 2007',
 'Jun 22, 2007',
 'Dec 25, 2007',
 'Sep 28, 2007',
 'Nov 16, 2007',
 'Feb 16, 2007',
 'Apr 13, 2007',
 'Nov 9, 2007',
 'Jun 22, 2007',
 'Dec 7, 2007',
 'Dec 21, 2007',
 'Jun 8, 2007',
 'Aug 31, 2007',
 'Oct 12, 2007',
 'Mar 23, 2007',
 'Dec 21, 2007',
 'Sep 7, 2007',
 'Dec 7, 2007',
 'Sep 21, 2007',
 'Feb 14, 2007',
 'Oct 5, 2007',
 'Mar 16, 2007',
 'Sep 28, 2007',
 'Mar 23, 2007',
 'Jul 3, 2007',
 'Jul 27, 2007',
 'Feb 2, 2007',
 'Dec 25, 2007',
 'Dec 25, 2007',
 'Dec 26, 2007',
 'Jan 26, 2007',
 'Nov 21, 2007',
 'Oct 19, 2007',
 'Aug 10, 2007',
 'Sep 14, 2007',
 'Jan 5, 2007',
 'Jan 26, 2007',
 'Feb 2, 2007',
 'Feb 23, 2007',
 'Sep 21, 2007',
 'Aug 24, 2007',
 'Mar 2, 2007',
 'Nov 21, 2007',
 'Dec 25, 2007',
 'May 11, 2007',
 'Oct 12, 2007',
 'Feb 9, 2007',
 'Jun 15, 2007',
 'Apr 5, 2007',
 'Apr 6, 2007',
 'Sep 14, 2007',
 'Apr 20, 2007',
 'Aug 24, 2007',
 'Mar 23, 2007',
 'Oct 19, 2007',
 'Mar 23, 2007',
 'May 11, 2007',
 'Aug 3, 2007',
 'Sep 21, 2007',
 'Dec 21, 2007',
 'Apr 27, 2007',
 'Sep 14, 2007',
 'Mar 16, 2007',
 'Oct 12, 2007',
 'Jan 5, 2007',
 'Dec 14, 2007',
 'Jan 12, 2007',
 'Aug 17, 2007',
 'Nov 9, 2007',
 'Aug 3, 2007',
 'Sep 7, 2007',
 'Jun 29, 2007',
 'Sep 21, 2007',
 'Sep 14, 2007',
 'Jun 8, 2007',
 'Oct 19, 2007',
 'Jul 18, 2008',
 'May 2, 2008',
 'May 22, 2008',
 'Jul 1, 2008',
 'Jun 27, 2008',
 'Jun 6, 2008',
 'Nov 21, 2008',
 'Nov 7, 2008',
 'Nov 14, 2008',
 'Mar 14, 2008',
 'May 30, 2008',
 'Dec 12, 2008',
 'Jul 18, 2008',
 'Dec 25, 2008',
 'May 16, 2008',
 'Jun 13, 2008',
 'Jun 27, 2008',
 'Jun 20, 2008',
 'Dec 25, 2008',
 'Nov 26, 2008',
 'Nov 21, 2008',
 'Aug 13, 2008',
 'Dec 25, 2008',
 'Aug 1, 2008',
 'Jul 11, 2008',
 'Sep 26, 2008',
 'Jul 25, 2008',
 'Jun 6, 2008',
 'Dec 19, 2008',
 'Mar 7, 2008',
 'Oct 3, 2008',
 'Aug 6, 2008',
 'Dec 25, 2008',
 'Mar 28, 2008',
 'May 9, 2008',
 'Feb 14, 2008',
 'Jan 18, 2008',
 'Dec 12, 2008',
 'Jan 18, 2008',
 'Jul 11, 2008',
 'Feb 22, 2008',
 'Feb 14, 2008',
 'Feb 8, 2008',
 'Dec 19, 2008',
 'Nov 7, 2008',
 'Jun 13, 2008',
 'Apr 18, 2008',
 'Apr 25, 2008',
 'Sep 12, 2008',
 'Feb 14, 2008',
 'Apr 18, 2008',
 'Dec 19, 2008',
 'Nov 26, 2008',
 'Aug 22, 2008',
 'Apr 4, 2008',
 'May 2, 2008',
 'Aug 6, 2008',
 'May 9, 2008',
 'Apr 11, 2008',
 'Jan 25, 2008',
 'Feb 8, 2008',
 'Mar 21, 2008',
 'Oct 17, 2008',
 'Sep 12, 2008',
 'Oct 10, 2008',
 'Sep 19, 2008',
 'Jan 25, 2008',
 'Aug 22, 2008',
 'Oct 24, 2008',
 'Dec 10, 2008',
 'Feb 29, 2008',
 'Dec 12, 2008',
 'Mar 21, 2008',
 'Jun 20, 2008',
 'Nov 26, 2008',
 'Nov 26, 2008',
 'Oct 31, 2008',
 'Apr 4, 2008',
 'Aug 15, 2008',
 'Jul 18, 2008',
 'Mar 7, 2008',
 'Jan 25, 2008',
 'Sep 12, 2008',
 'Jan 4, 2008',
 'Feb 29, 2008',
 'Mar 28, 2008',
 'Apr 11, 2008',
 'Oct 17, 2008',
 'Mar 14, 2008',
 'Aug 27, 2008',
 'Aug 15, 2008',
 'Dec 26, 2008',
 'Aug 29, 2008',
 'Jul 25, 2008',
 'Jan 18, 2008',
 'Sep 19, 2008',
 'Dec 25, 2008',
 'Sep 19, 2008',
 'Sep 19, 2008',
 'Dec 5, 2008',
 'Dec 18, 2009',
 'Jun 24, 2009',
 'Jul 15, 2009',
 'Nov 20, 2009',
 'May 29, 2009',
 'Jun 5, 2009',
 'May 8, 2009',
 'Nov 20, 2009',
 'Dec 23, 2009',
 'Dec 25, 2009',
 'Mar 27, 2009',
 'Jul 1, 2009',
 'May 1, 2009',
 'May 22, 2009',
 'Nov 13, 2009',
 'Jun 19, 2009',
 'Apr 3, 2009',
 'Aug 7, 2009',
 'Jan 16, 2009',
 'Jan 30, 2009',
 'Nov 6, 2009',
 'May 15, 2009',
 'May 21, 2009',
 'Sep 18, 2009',
 'Aug 21, 2009',
 'Jul 24, 2009',
 'Aug 14, 2009',
 'Dec 25, 2009',
 'Oct 9, 2009',
 'Mar 6, 2009',
 'Nov 25, 2009',
 'Jul 1, 2009',
 'Aug 7, 2009',
 'Feb 6, 2009',
 'Feb 20, 2009',
 'Jul 24, 2009',
 'Dec 4, 2009',
 'Mar 20, 2009',
 'Apr 10, 2009',
 'Oct 16, 2009',
 'Oct 2, 2009',
 'Feb 6, 2009',
 'Oct 16, 2009',
 'Jan 16, 2009',
 'Oct 28, 2009',
 'Mar 20, 2009',
 'Apr 24, 2009',
 'Mar 13, 2009',
 'Aug 28, 2009',
 'Jun 12, 2009',
 'Feb 13, 2009',
 'Apr 17, 2009',
 'Aug 14, 2009',
 'Jul 10, 2009',
 'Jan 9, 2009',
 'Jul 31, 2009',
 'Sep 11, 2009',
 'Nov 25, 2009',
 'Jun 5, 2009',
 'Jun 26, 2009',
 'Jan 23, 2009',
 'Dec 11, 2009',
 'Jun 19, 2009',
 'Jan 9, 2009',
 'Nov 20, 2009',
 'May 29, 2009',
 'Jul 24, 2009',
 'Mar 20, 2009',
 'Sep 25, 2009',
 'Nov 25, 2009',
 'Dec 11, 2009',
 'Apr 17, 2009',
 'Jan 16, 2009',
 'Sep 4, 2009',
 'Aug 28, 2009',
 'Sep 18, 2009',
 'Mar 13, 2009',
 'Nov 6, 2009',
 'Apr 22, 2009',
 'Apr 24, 2009',
 'Feb 6, 2009',
 'Sep 9, 2009',
 'Dec 18, 2009',
 'Oct 16, 2009',
 'Jan 16, 2009',
 'Dec 4, 2009',
 'May 22, 2009',
 'Feb 13, 2009',
 'Jul 31, 2009',
 'Apr 10, 2009',
 'Apr 24, 2009',
 'Sep 18, 2009',
 'Sep 25, 2009',
 'Nov 13, 2009',
 'Aug 21, 2009',
 'Sep 4, 2009',
 'Dec 18, 2009',
 'Oct 23, 2009',
 'Oct 2, 2009',
 'Jan 23, 2009',
 ...]

In [21]:
# test run
url = f"http://www.omdbapi.com/?apikey={api_key}&t="
response = requests.get(url + titles[1139]).json()
response

{'Title': 'Limitless',
 'Year': '2011',
 'Rated': 'PG-13',
 'Released': '18 Mar 2011',
 'Runtime': '105 min',
 'Genre': 'Sci-Fi, Thriller',
 'Director': 'Neil Burger',
 'Writer': 'Leslie Dixon (screenplay), Alan Glynn (novel)',
 'Actors': 'Bradley Cooper, Robert De Niro, Abbie Cornish, Andrew Howard',
 'Plot': 'With the help of a mysterious pill that enables the user to access one hundred percent of his brain abilities, a struggling writer becomes a financial wizard, but it also puts him in a new world with lots of dangers.',
 'Language': 'English, Russian, Italian, Mandarin, French',
 'Country': 'USA',
 'Awards': '2 wins & 8 nominations.',
 'Poster': 'https://m.media-amazon.com/images/M/MV5BYmViZGM0MGItZTdiYi00ZDU4LWIxNDYtNTc1NWQ5Njc2N2YwXkEyXkFqcGdeQXVyNDk3NzU2MTQ@._V1_SX300.jpg',
 'Ratings': [{'Source': 'Internet Movie Database', 'Value': '7.4/10'},
  {'Source': 'Rotten Tomatoes', 'Value': '69%'},
  {'Source': 'Metacritic', 'Value': '59/100'}],
 'Metascore': '59',
 'imdbRating': '7.4',
 'imdbVotes': '506,951',
 'imdbID': 'tt1219289',
 'Type': 'movie',
 'DVD': '19 Jul 2011',
 'BoxOffice': '$79,230,923',
 'Production': 'Relativity Media',
 'Website': 'N/A',
 'Response': 'True'}

In [12]:
# looking at json
response

{'Title': 'How the Grinch Stole Christmas',
 'Year': '2000',
 'Rated': 'PG',
 'Released': '17 Nov 2000',
 'Runtime': '104 min',
 'Genre': 'Comedy, Family, Fantasy',
 'Director': 'Ron Howard',
 'Writer': 'Dr. Seuss (book), Jeffrey Price (screenplay), Peter S. Seaman (screenplay)',
 'Actors': 'Jim Carrey, Taylor Momsen, Kelley, Jeffrey Tambor',
 'Plot': 'On the outskirts of Whoville lives a green, revenge-seeking Grinch who plans to ruin Christmas for all of the citizens of the town.',
 'Language': 'English',
 'Country': 'USA',
 'Awards': 'Won 1 Oscar. Another 17 wins & 37 nominations.',
 'Poster': 'https://m.media-amazon.com/images/M/MV5BNWNiNTczNzEtMjQyZC00MjFmLTkzMDMtODk4ZGMyZmE0N2E4XkEyXkFqcGdeQXVyMTMxODk2OTU@._V1_SX300.jpg',
 'Ratings': [{'Source': 'Internet Movie Database', 'Value': '6.1/10'},
  {'Source': 'Rotten Tomatoes', 'Value': '50%'},
  {'Source': 'Metacritic', 'Value': '46/100'}],
 'Metascore': '46',
 'imdbRating': '6.1',
 'imdbVotes': '193,860',
 'imdbID': 'tt0170016',
 'Type': 'movie',
 'DVD': '20 Nov 2001',
 'BoxOffice': '$259,011,600',
 'Production': 'Universal Pictures',
 'Website': 'N/A',
 'Response': 'True'}

In [7]:
# empty lists for dataframe construction
ratings=[]
awards=[]
rated=[]
runtime=[]
genre=[]
metascore=[]
imdbRating=[]
imdbVotes=[]
imdbID=[]
titles_edit=[]
responses=[]
release_edit=[]

In [22]:
# forloop for api call, limit to 1000 calls a day
for i in range(900,1800):
    response = requests.get(url + titles[i]).json()
    responses.append(response)
    try:
        ratings.append(response['Ratings'])
        awards.append(response['Awards'])
        rated.append(response['Rated'])
        runtime.append(response['Runtime'])
        genre.append(response['Genre'])
        metascore.append(response['Metascore'])
        imdbRating.append(response['imdbRating'])
        imdbVotes.append(response['imdbVotes'])
        imdbID.append (response['imdbID'])
        titles_edit.append(titles[i])
        release_edit.append(release[i])
    except:
        print(f"Movie not found, title={titles[i]}")

Movie not found, title=Extremely Loud and Incredibly Close
Movie not found, title=Doctor Seuss' The Lorax
Movie not found, title=Tyler Perry's Madea's Witness Protection
Movie not found, title=Disney Planes
Movie not found, title=Planes: Fire and Rescue
Movie not found, title=Tyler Perry’s Boo 2! A Madea Halloween

In [53]:
# Testing cell
responses[239]

{'Title': 'Limitless',
 'Year': '2011',
 'Rated': 'PG-13',
 'Released': '18 Mar 2011',
 'Runtime': '105 min',
 'Genre': 'Sci-Fi, Thriller',
 'Director': 'Neil Burger',
 'Writer': 'Leslie Dixon (screenplay), Alan Glynn (novel)',
 'Actors': 'Bradley Cooper, Robert De Niro, Abbie Cornish, Andrew Howard',
 'Plot': 'With the help of a mysterious pill that enables the user to access one hundred percent of his brain abilities, a struggling writer becomes a financial wizard, but it also puts him in a new world with lots of dangers.',
 'Language': 'English, Russian, Italian, Mandarin, French',
 'Country': 'USA',
 'Awards': '2 wins & 8 nominations.',
 'Poster': 'https://m.media-amazon.com/images/M/MV5BYmViZGM0MGItZTdiYi00ZDU4LWIxNDYtNTc1NWQ5Njc2N2YwXkEyXkFqcGdeQXVyNDk3NzU2MTQ@._V1_SX300.jpg',
 'Ratings': [{'Source': 'Internet Movie Database', 'Value': '7.4/10'},
  {'Source': 'Rotten Tomatoes', 'Value': '69%'},
  {'Source': 'Metacritic', 'Value': '59/100'}],
 'Metascore': '59',
 'imdbRating': '7.4',
 'imdbVotes': '506,951',
 'imdbID': 'tt1219289',
 'Type': 'movie',
 'DVD': '19 Jul 2011',
 'BoxOffice': '$79,230,923',
 'Production': 'Relativity Media',
 'Website': 'N/A',
 'Response': 'True'}

In [52]:
omdb_df.loc[omdb_df.index==239]

,Title,Released,ratings,awards,rated,runtime,genere,metascore,imdbRating,imdbVotes,imdbID
239,Limitless,"Mar 18, 2011","[{'Source': 'Internet Movie Database', 'Value'...",2 wins & 8 nominations.,PG-13,105 min,"Sci-Fi, Thriller",59,7.4,"506,951",tt1219289

In [25]:
# Create dataframe from api data
omdb_df =pd.DataFrame({'Title':titles_edit,
                        'Released':release_edit,
                        'ratings':ratings,
                        'awards':awards,
                        'rated':rated,
                        'runtime':runtime,
                        'genere':genre,
                        'metascore':metascore,
                        'imdbRating':imdbRating,
                        'imdbVotes':imdbVotes,
                        'imdbID':imdbID})
omdb_df

,Title,Released,ratings,awards,rated,runtime,genere,metascore,imdbRating,imdbVotes,imdbID
0,Avatar,"Dec 18, 2009","[{'Source': 'Internet Movie Database', 'Value'...",Won 3 Oscars. Another 86 wins & 129 nominations.,PG-13,162 min,"Action, Adventure, Fantasy, Sci-Fi",83,7.8,"1,078,016",tt0499549
1,Transformers: Revenge of the Fallen,"Jun 24, 2009","[{'Source': 'Internet Movie Database', 'Value'...",Nominated for 1 Oscar. Another 15 wins & 27 no...,PG-13,150 min,"Action, Adventure, Sci-Fi",35,6.0,"371,781",tt1055369
2,Harry Potter and the Half-Blood Prince,"Jul 15, 2009","[{'Source': 'Internet Movie Database', 'Value'...",Nominated for 1 Oscar. Another 8 wins & 35 nom...,PG,153 min,"Action, Adventure, Family, Fantasy, Mystery",78,7.6,"439,445",tt0417741
3,The Twilight Saga: New Moon,"Nov 20, 2009","[{'Source': 'Internet Movie Database', 'Value'...",20 wins & 24 nominations.,PG-13,130 min,"Adventure, Drama, Fantasy, Mystery, Romance",44,4.7,"254,666",tt1259571
4,Up,"May 29, 2009","[{'Source': 'Internet Movie Database', 'Value'...",Won 2 Oscars. Another 78 wins & 82 nominations.,PG,96 min,"Animation, Adventure, Comedy, Family",88,8.2,"882,822",tt1049413
...,...,...,...,...,...,...,...,...,...,...,...
889,Rock Dog,"Feb 24, 2017","[{'Source': 'Internet Movie Database', 'Value'...",3 nominations.,PG,90 min,"Animation, Adventure, Comedy, Family, Music",48,5.9,"4,252",tt2822672
890,The Lost City of Z,"Apr 14, 2017","[{'Source': 'Internet Movie Database', 'Value'...",6 wins & 29 nominations.,PG-13,141 min,"Biography, Drama, History",78,6.6,"71,426",tt1212428
891,The Promise,"Apr 21, 2017","[{'Source': 'Internet Movie Database', 'Value'...",2 wins & 4 nominations.,PG-13,133 min,"Action, Adventure, Drama, History, War",49,5.9,"165,602",tt4776998
892,The Space Between Us,"Feb 3, 2017","[{'Source': 'Internet Movie Database', 'Value'...",4 nominations.,PG-13,120 min,"Drama, Romance, Sci-Fi",33,6.4,"44,396",tt3922818
893,Birth of the Dragon,"Aug 25, 2017","[{'Source': 'Internet Movie Database', 'Value'...",1 win.,PG-13,95 min,"Action, Biography, Drama",35,5.5,"6,589",tt2720826

In [54]:
# A quick parsing script to extract nominations in int form
nom_list=[]
x=0
for index, row in omdb_df.iterrows():
    mov=row['awards']
    try:
        award=str(mov)
        end=award.find('nominations')
        if end == -1:
            nom_list.append(np.nan)
            x +=1
        else:
            start=award[:end-1].rfind(' ')
            nom_list.append(award[start+1:end-1])
    except:
        print('error')
#add to df
omdb_df["nominations"]=nom_list
omdb_df.head()

,Title,Released,ratings,awards,rated,runtime,genere,metascore,imdbRating,imdbVotes,imdbID,nominations
0,Avatar,"Dec 18, 2009","[{'Source': 'Internet Movie Database', 'Value'...",Won 3 Oscars. Another 86 wins & 129 nominations.,PG-13,162 min,"Action, Adventure, Fantasy, Sci-Fi",83,7.8,"1,078,016",tt0499549,129
1,Transformers: Revenge of the Fallen,"Jun 24, 2009","[{'Source': 'Internet Movie Database', 'Value'...",Nominated for 1 Oscar. Another 15 wins & 27 no...,PG-13,150 min,"Action, Adventure, Sci-Fi",35,6.0,"371,781",tt1055369,27
2,Harry Potter and the Half-Blood Prince,"Jul 15, 2009","[{'Source': 'Internet Movie Database', 'Value'...",Nominated for 1 Oscar. Another 8 wins & 35 nom...,PG,153 min,"Action, Adventure, Family, Fantasy, Mystery",78,7.6,"439,445",tt0417741,35
3,The Twilight Saga: New Moon,"Nov 20, 2009","[{'Source': 'Internet Movie Database', 'Value'...",20 wins & 24 nominations.,PG-13,130 min,"Adventure, Drama, Fantasy, Mystery, Romance",44,4.7,"254,666",tt1259571,24
4,Up,"May 29, 2009","[{'Source': 'Internet Movie Database', 'Value'...",Won 2 Oscars. Another 78 wins & 82 nominations.,PG,96 min,"Animation, Adventure, Comedy, Family",88,8.2,"882,822",tt1049413,82

In [55]:
omdb_df.to_csv('../data_files/last900_fix.csv')